//@include this in a container which is acting as an extended :hover zone for a child element.
@mixin hover-zone($z-index: 1000) {
    display:none;
    z-index: $z-index + 1;
    >* {
        z-index: $z-index;
    }
}